.first {
  max-width: 1440px;
  justify-content: space-between;
  height: 100px;
}

/* ✅ This pushes content down when navbar opens */

@media (max-width:992px) {
  .first {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-nav {
    background-color: #fff;
    padding: 20px;
  }
  .navbar-collapse {
    margin-top: 20px;
    max-height: 415px;
  }
  .navbar-expanded {
    margin-bottom: 415px; /* Adjust height as needed */
  }
}

@media (min-width:992px) {
  .first {
    padding-right: 60px;
    padding-left: 60px;
  }
}

li {
  font-size: 17px;
  font-weight: 400;
  color: #090F4E;
}

.logoimg {
  width: 123px;
  height: 53px;
}

.poppins-regular {
  font-family: "Poppins", serif;
}
