@media (min-width:992px) {
    .form6h1{
        font-size: 40px;
        font-weight: 800;
    }
    .form6h2{
        font-size: 24px;
        font-weight: 600;
    }
}

@media (max-width:991px) {
    .form6h1{
        font-size: 36px;
        font-weight: 800;
    }
    .form6h2{
        font-size: 22px;
        font-weight: 600;
    }
}
@media (max-width:662px) {
    .form6h1{
        font-size: 30px;
        font-weight: 800;
    }
    .form6h2{
        font-size: 20px;
        font-weight: 600;
    }
}